*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body{
  min-width: 100vh;
  min-height: auto;

}
.top{
  /* display: flex;
  justify-content: center;
  justify-content: space-between; */
  font-size: 1.5rem;
  color: whitesmoke;
  background-color: rgb(21, 21, 118);
}
.nav{
  display: flex;
  justify-content: space-around;
}

.loc{
  display: flex;
  justify-content: space-around;
}
.nav input{
  border: none;
  width: 20%;
  height: 1.5rem;
}
.cart i{
  background-color:  rgb(21, 21, 118);
  color: whitesmoke;
  border: none;
  font-size: 2rem;
}
